* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #1a1a1a;
  background: #ffffff;
}

#root {
  min-height: 100vh;
}

p,
h1,
h2 {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}
